<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>User Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
        $(document).ready(function(){
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 panel set-center" style="position: absolute; top:25%;">
                <center>
                    <h1>User Login</h1>
                    <div class="alert alert-danger" id="LoginAlert" th:if="${param.error}">
                        <p style="margin: 0px; font-weight: bold;">Login unsuccessful, invalid username or password</p>
                    </div>
                    <form action="#" th:action="@{/user_login}" th:object="${user}" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="Username">Username:</label>
                                <input type="text" id="Username" class="form-control" th:field="*{username}" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="Password">Password:</label>
                                <input type="password" id="Password" class="form-control" th:field="*{password}" />
                            </div>
                        </div>
                        <br>
                        <p><input type="submit" class="btn btn-md btn-primary" value="Login" /></p>
                    </form>
                </center>
            </div>
        </div>
    </div>
</body>
</html>